* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}

#canvas {
    position: absolute;
    top: 0;
    left: 25%;
    border: 3px solid;
    background: url("https://cdn.pixabay.com/photo/2017/02/15/11/05/texture-2068283__340.jpg");
}

#info {
    height: 5vh;
    display: flex;
    justify-content: center;
    background-color: rgba(194, 221, 221, 0.918);
    align-items: center;
    position: absolute;
    top: 0;
    left: 35%;
    z-index: 2;
}

li {
    list-style-type: none;
    margin: 0 3px;
}