* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}

#canvas {
    border: 3px solid;
    background: url("https://cdn.pixabay.com/photo/2017/02/15/11/05/texture-2068283__340.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#gameOption, #gameOver, #win {
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
}

#gameOver, #win {
    display: none;
}

#info {
    height: 5vh;
    display: flex;
    justify-content: center;
    background-color: rgba(194, 221, 221, 0.918);
    align-items: center;
    position: absolute;
    top: 0;
    margin: auto;
    z-index: 2;
    width: 100%;
}

li {
    list-style-type: none;
    margin: 0 3px;
}